{% extends 'mojicollage/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="content">
    <br>
    <form enctype="multipart/form-data" action="{% url 'result' %}" method="POST">{% csrf_token %}
        {% for field in form %}
            {% if field.label == "画像を選択" %}
                <label for="id_tgtImg" class="filelabel">{{ field.label }}</label>
                {{ form.tgtImg | add_class:'fileinput'}}
                <p><canvas id="preview" style="max-height:150px;"></canvas></p>
                {{ field.errors }}
            {% elif field.label == "女の子の性格" %}
                {{ field.label }}:
                <span id="seikaku-value"></span></label> {{ field }}
                {{ field.errors }}
                <br><br>
            {% elif field.label == "女の子の話し方" or field.label == "射精" %}
                {{ field.label }}:
                {% for choice in field %}
                    <label>{{ choice.tag }}{{ choice.choice_label }}</label>
　　         　 {% endfor %}
                {{ field.errors }}
                <br><br>
            {% else %}
                {{ field.label }}:
                {{ field }}
                {{ field.errors }}
                <br><br>
            {% endif %}
        {% endfor %}
        <button type="submit" class="Button-style" disabled=true>つくる</button>
    </form>
    <br><br>
</div>
{% endblock %}